.body{
    background-color: #F8FAFC;
    /* color: #111827; */
}

.Add-Admin-WebBody .adminProfile {
    background-color: #CBD5E1; 
    color: #1E293B; /* Dark text for readability */
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15); 
    color: #1E293B; 
    border-radius: 8px; 
    margin-top: 75px;
    margin-left: 465px;
    width: 590px;
    height: 650px;
    font-family: 'Georgia'; 
}
.Add-Admin-WebBody .adminProfile:hover {
    transform: scale(0.99);
}
.Add-Admin-WebBody .adminProfile h2{
    font-size: 22px;
    margin-left: 180px;
    margin-top: -2px;
    margin-bottom: 60px;
    padding-top: 70px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}
.Add-Admin-WebBody label {
    font-size: 17px;
    margin-bottom: 4px;
    display: block;
    margin-left: 71px;
}

.Add-Admin-WebBody input[type="text"],
.Add-Admin-WebBody input[type="email"],
.Add-Admin-WebBody input[type="password"] {
    width: 440px;
    height: 32px;
    margin-top: 10px;
    margin-left: 70px;
    margin-bottom: 30px;
    border-radius: 5px;
    border: 1px solid #ddd;
    outline: none;
    box-shadow: 
        inset 0 2px 4px rgba(0, 0, 0, 0.2), /* Black shadow on top */
        inset 0 -2px 4px rgba(255, 255, 255, 0.2); /* White shadow on bottom */
}

#admin_showPass{
    margin-left: 70px;
}

.Add-Admin-WebBody #admin_profile_button{
    background-color: #1E293B;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 15px;
    margin-top: 30px;
    margin-left:235px;
    width:110px;
    height: 30px;
}
.Add-Admin-WebBody #admin_profile_button:hover{
    background-color: #263447;
    border-color: #4A5D6B;
    color: #F1F5F9;
    transform: scale(1.05);
}
